.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}
.mainhero{
    padding: 80px 90px;
}
.loginForm{
    height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    padding-right: 150px;
    padding-left: 100px;
}
.loginForm >p{
    margin-bottom: 60px;    
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #545F7D;
    
}
h3{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.04em;
    color: #213F7D;
    margin-bottom: 10px;
}

.forgot{
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #39CDCC;
    margin-bottom: 30px;
}
.link-dashboard{
    padding:16px;
    color: #FFFFFF;
    background: #39CDCC;
    border-radius: 8px;
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: 14px;
    display:block;
    line-height: 19px;
    border: '2px solid rgba(84, 95, 125, 0.15)';
    text-align: center;
    letter-spacing: '0.1em';
    text-transform: 'uppercase';
    width:"100%";
} 
.logodiv{
    margin-bottom: 120px;
}
@media only screen and (max-width: 700px) {
    .hero{
        padding: 20px 0;
        grid-template-columns: repeat(1, 1fr);
    }
    h3{
        font-size: 30px;
    }
    .mainhero>img{
        display: none;
    }
    .mainhero{
        padding: 0;
    }
    .loginForm{
        height: fit-content;
        padding: 25px;
        padding-bottom: 0;
    }
    .logodiv{
        margin-bottom: 20px;
    }

    
}