$white: #FFFFFF;
$red: #E4033B;
$skyblue:#39CDCC;
$worksans: 'Work Sans';


.btn1, .btn2{
    border-radius: 8px;
    padding: 12px 16px;
    font-family: $worksans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
}
.btn1{
    border: 1px solid $red;
    color: $red;
    width: fit-content;
}
.btn2{
    border: 1px solid $skyblue;
    color: $skyblue;
    width: fit-content;
}