*{
    font-family: 'Work Sans';
}
.dashboard{
    padding: 60px 30px;
    background: #e5e5e55e;
    overflow-y: scroll;
    height: 80vh;
}

h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #213F7D;
    margin-bottom: 40px;
}
.cardbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 25px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 700px) {
    .dashboard{
        padding: 20px 30px;
        background: #e5e5e55e;
        overflow-y: scroll;
        height: fit-content;
    }   
    .cardbox{
        grid-template-columns: repeat(1, 1fr);
    }
}