.asideParent{
    position: sticky;
    top: 0;
    padding: 30px 0;
    background: #FFFFFF;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: 10px;
}
.header{
    margin-bottom: 20px;
}
.tab{
    display: flex;
    column-gap: 8px;
    width: fit-content;
    padding: 10px 25px;
    margin-bottom: 20px;
    opacity: 0.8;
}
.active{
    opacity: 1;
}
.activeTab{
    opacity: 1;
    background: #39cdcd31;
}
.asideParent h4{
    padding: 0 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545F7D;
    margin-bottom: 10px;
}
.first{
    margin-bottom: 30px;
    color: #213F7D;
}
.a{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #213F7D;

}

@media only screen and (max-width: 700px) {
    .asideParent{
        display: none;
    }
    .tab{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .a{
        font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #213F7D;
    
    }

}