@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}
a:hover, button:hover{
  transform: scale(1.05);
  transition: 0.2s;
}
button {
  border: none;
}
ul {
  list-style-type: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
  min-width: 0;
}
small{
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #39CDCC;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.font-face-av {
  font-family: "Avenir Next";
}
.body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
/* 283/1440 *100 */
.container{
  display: grid;
  flex-grow: 1;
  align-items: flex-start;
  grid-template-columns: repeat(2, 20% 80%);
}
@media only screen and (max-width: 700px) {
  .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  

}
