.pagdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.pagination>div{
    padding: 0 12px;
}
.pagdiv p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #545F7D;
}
.halfp{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #333333;

}

.arrow>p, .rowsper{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #778CA2;
}
.pag{
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.currentpagp, .pagp{
    color: #545F7D;    
}
.pagp{
    opacity: 0.6;
}
.mobile{
    display: none !important;
}
@media only screen and (max-width: 950px) {
    .halfp{
        font-size: 14px;
    }
    .pagination{

        column-gap: 4px;
    }
    .pagination>div{
        padding: 0 6px;
    }
    .pc{
        display: none !important;
    }
    .mobile{
        justify-content: flex-start;
        display: flex !important;
    }
}
  